<div class="text-center">
<h1>パスワードを忘れた場合</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.submit "Submit", class: "btn btn-secondary" %>
    <% end %>
</div>