<div class="text-center">
  <div class="container w-50">
    <ul class="list-group list-group-flush">
    
      <div class="pagination justify-content-center">
      <%= will_paginate previous_label: '&lt', next_label: '&gt' %>
      </div>

      <% @routes.each do |r| %>
        <li class="list-group-item">
          <%= link_to r.name, r %>
          <%= r.start %>から
          <%= link_to 'ルートを削除する', r, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>