<ul class="nav justify-content-end">
  <li>
    <form class="nav-item d-flex">
      <input class="form-control me-2" type="search" placeholder="目的地を検索" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">🔍</button>
    </form>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ユーザ登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">マイページ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ログアウト</a>
  </li>
</ul>